<div class="display-bottom">
    <div class="about-display-form">
        <h4>パネル展示会に対する要望や感想等があればご記入ください。</h4>
        <p>200字以内(任意)</p>
        <textarea class="comment-area contact-comment" type="text" maxlength="200" ></textarea>
    </div>
    <button class="btn crient-submit">
        <p>
            <span class="fa fa-paper-plane btn"></span>提出
        </p>
    </button>
</div>