<div id="loading">
    <!-- <div class="load-object">
        <span class="ball ball-1"></span>
        <span class="ball ball-2"></span>
        <span class="ball ball-3"></span>
        <span class="ball ball-4"></span>
        <span class="ball ball-5"></span>
        <span class="ball ball-6"></span>
        <span class="ball ball-7"></span>
        <span class="ball ball-8"></span>
    </div> -->
    <div class="loader">Loading...</div>
    <div class="reading_mater" style="display: none;">
        <div class="reading_mater_content" style="display: none;"></div>
    </div>
</div>