<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <title>エラー</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body class="container">
        <%- include('./loading') %>
        <div class="thanks">
            <div class="thanks-container">
                <h3>エラー</h3>
                <!-- <p>申し訳ございません。エラーが発生しました。<br>再度お試しいただきますようよろしくお願いいたします。</p> -->
                <p class="errormessage"></p>
            </div>
        </div>
        <script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-storage.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-firestore.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-auth.js"></script>
        <script src="/javascripts/firebase_config.js"></script>
        <script src="/javascripts/firebase_auth.js"></script>
        <script src="/javascripts/thanks.js"></script>
        <script src="/javascripts/common_func.js"></script>
    </body>
</html>