<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <title>送信完了</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body class="container">
        <div class="thanks">
            <div class="thanks-container">
                <h3>送信が完了しました</h3>
                <p>ご記入していただいた情報は無事に送信されました。</p>
                <p>ご協力いただきありがとうございました。</p>
                <p class="btn-msg">パネル展示会サイトに戻る方はこちらのボタンから</p>
                <a id="return" class="other-btn btn" href="/display" >パネル展示会に戻る</a>
            </div>
        </div>
    </body>
</html>