<% Object.keys(data).forEach((uidImgNum) =>{ %>
<div class="register-content">
    <div class="account-img-content">
        <div class="in-shadow"></div>
        <img class="account-img" id="<%= data.usersData[uidImgNum] %>" src="">
    </div>
    <div class="account-contents">
        <button class="edit btn" data-option="<%= data.usersData[uidImgNum] %>">編集</button>
        <button class="delete btn" data-option="<%= data.usersData[uidImgNum] %>">削除</button>
    </div>
</div>
<% }); %>