<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>2021年度春のパネル展示会</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/stylesheets/swiper-bundle.min.css" />
    <script src="/javascripts/jquery-3.5.1.min.js"></script>
</head>

<body class="container">
    <%- include('./../loading') %>
    <input id="change" class="change-check" type="checkbox" />
    <div class="account-menu-wrapper">
        <div class="account-menu-header">
            <div class="header-content">
                <button id="logout" class="btn">ログアウト</button>
                <button id="change-comment" class="btn">
            <label for="change">コメント</label>
          </button>
                <button id="change-edit" class="btn">
            <label for="change">編集</label>
          </button>
            </div>
        </div>
        <div class="account-menu-container">
            <div class="account-menu-contents" id="templete-content"></div>
        </div>
    </div>
    <!-- テンプレート -->
    <template id="account-menu-items-tem">
      <div class="register-content">
        <div class="account-img-content">
          <div class="in-shadow"></div>
          <img class="account-img" src="" />
        </div>
        <div class="account-contents">
          <button class="edit btn" value="">編集</button>
          <button class="delete btn" value="">削除</button>
          <button class="comment btn" value="">コメント</button>
        </div>
      </div>
    </template>
    <template id="new-register-tem">
      <div class="register-content">
        <div class="account-img-content">
          <div class="in-shadow"></div>
          <div class="fa fa-plus-circle"></div>
        </div>
        <div class="account-contents">
          <button class="btn register-btn" id="new-register">新規作成</button>
        </div>
      </div>
      <div class="content-no"></div>
    </template>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-auth.js"></script>
    <script src="/javascripts/firebase_config.js"></script>
    <script src="/javascripts/firebase_auth.js"></script>
    <script src="/javascripts/account_menu.js"></script>
    <script src="/javascripts/common_func.js"></script>
</body>

</html>