<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <title>2021年度春のパネル展示会</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/stylesheets/swiper-bundle.min.css">
        <script src="/javascripts/jquery-3.5.1.min.js"></script>
    </head>
    <body class="container">
        <%- include('./../loading') %>
        <div class="account-container">
            <div class="menu-contents">
                <div class="items-container">
                    <div class="new-account-form">
                        <h3>作品情報</h3>
                        <label for="file">イラスト(jpg、5MB以下)</label>
                        <p class="err-msg" id="file-err"></p>
                        <input type="file" id="file" name="file" value="upload" accept="image/jpeg" >
                        <label for="grade-select">回生</label>
                        <p class="err-msg" id="grade-err"></p>
                        <!-- //gradeは '1':'1回生', '2':'2回生', '3':'3回生', '4':'4回生', '5':'その他', '6':'合作'。 -->
                        <select name="grade" id="grade-select">
                            <option value="">選択してください</option>
                            <option value="1">１回生</option>
                            <option value="2">２回生</option>
                            <option value="3">３回生</option>
                            <option value="4">４回生</option>
                            <option value="5">その他</option>
                            <option value="6">合作</option>
                        </select>
                        <!-- //sizeは '1':'B4', '2':'B5', '3':'その他'。 -->
                        <label for="size-select">サイズ</label>
                        <p class="err-msg" id="size-err"></p>
                        <select name="size" id="size-select">
                            <option value="">選択してください</option>
                            <option value="1">B4</option>
                            <option value="2">B5</option>
                            <option value="3">その他</option>
                        </select>
                        <label for="title">作品名</label>
                        <p class="err-msg" id="title-err"></p>
                        <input class="text-input" type="text" name="title" id="title">
                        <label for="penname">ペンネーム</label>
                        <p class="err-msg" id="penname-err"></p>
                        <input class="text-input" type="text" name="penname" id="penname">
                        <label for="caption">説明文(150字以内)</label>
                        <p class="err-msg" id="caption-err"></p>
                        <div class="caption-wrapper">
                            <p class="text-error"><span>150文字以内で記入してください。</span></p>
                            <textarea id="caption" type="text" maxlength="150" name="caption"></textarea>
                        </div>
                        <button id="submit-btn" class="btn opne">保存して公開する</button>
                        <button class="btn return-btn" id="return">戻る</button>
                    </form>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/gh/fengyuanchen/compressorjs/dist/compressor.min.js"></script>
        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-storage.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-firestore.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-auth.js"></script>
        <script src='/javascripts/firebase_config.js'></script>
        <script src='/javascripts/firebase_auth.js'></script>
        <script src='/javascripts/account_new.js'></script>
        <script src="/javascripts/common_func.js"></script>
    </body>
</html>