<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <title>2021年度春のパネル展示会</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="/javascripts/jquery-3.5.1.min.js"></script>
    </head>
    <body class="container">
        <%- include('./../loading') %>
        <div class="host">
            <div class="host-comment">
                <h3>お問い合わせ</h3>
                <h4>コメント一覧</h4>
                <table class="table" id="comment-content">
                    <tr>
                        <th>コメント</th>
                    </tr>
                    <template id="comment-tem">
                        <tr class="comment-container">
                            <td></td>
                        </tr>
                    </template>
                </table>
                <a class="btn return-btn" id="return" href="/login/host" >戻る</a>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/gh/fengyuanchen/compressorjs/dist/compressor.min.js"></script>
        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-storage.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-firestore.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-auth.js"></script>
        <script src='/javascripts/firebase_config.js'></script>
        <script src='/javascripts/firebase_auth.js'></script>
        <script src='/javascripts/host/host_comment.js'></script>
        <script src="/javascripts/common_func.js"></script>
    </body>
</html>