<header>
    <input id="ham-menu-on" type="checkbox">
    <div class="header-cover">
        <div class="header-content">
            <section>
                <label class="btn-trigger btn" id="ham-menu-btn" for="ham-menu-on">
                  <span></span>
                  <span></span>
                  <span></span>
                </label>
            </section>
            <!-- <p>KUMD</p> -->
        </div>
        <div class="ham-menu">
            <div class="ham-menu-contents">
                <div class="ham-menu-container">
                    <div class="index-btns">
                        <label class="btn scroll-btn" scroll-option="#scroll-top" for="ham-menu-on"><p>TOP</p></label>
                        <!-- <label class="btn scroll-btn" scroll-option="#scroll-caption" for="ham-menu-on"><p>CAPTION</p></label> -->
                        <label class="btn scroll-btn" scroll-option="#scroll-1" for="ham-menu-on"><p>1回生</p></label>
                        <label class="btn scroll-btn" scroll-option="#scroll-2" for="ham-menu-on"><p>2回生</p></label>
                        <label class="btn scroll-btn" scroll-option="#scroll-3" for="ham-menu-on"><p>3回生</p></label>
                        <label class="btn scroll-btn" scroll-option="#scroll-4" for="ham-menu-on"><p>4回生</p></label>
                        <label class="btn scroll-btn" scroll-option="#scroll-5" for="ham-menu-on"><p>その他</p></label>
                        <label class="btn scroll-btn" scroll-option="#scroll-6" for="ham-menu-on"><p>合作</p></label>
                    </div>
                    <div class="other-btns">
                        <!-- <a class="btn other-btn crient-submit"><p><span class="fa fa-paper-plane btn"></span>提出</p></a> -->
                        <a target="_blank" class="btn other-btn" href="/display/ranking"><p><span class="fa fa-trophy btn"></span>ランキング</p></a>
                    </div>
                </div>
            </div>
            <label class="ham-menu-back" for="ham-menu-on">

            </label>
        </div>
    </div>
</header>