<div class="display-item-container slide3-content">
    <div class="display-img-content">
        <div class="in-shadow"></div>
        <img class="demo-img2 display-img" src="">
    </div>
    <input id="heart-checkdemo" class="heart-check" type="checkbox">
    <div class="display-content">
        <h3 class="title2 title"></h3>
        <p class="penname2 penname"></p>
        <p class="caption2 caption"></p>
        <div class="eval-items">
            <div class="fa-cover">
                <label class="fa fa-heart btn" for="heart-checkdemo" ></label>
                <div class="fa-hand-o-down-cover">
                    <span class="fa fa-hand-o-down"></span>
                    <p class="tap-message">Tap!</p>
                </div>
            </div>
            <p class="open-massage">好きな作品には「いいね」をしよう！</p>
            <label class="fa fa-comment btn" ></label>
        </div>
        <div class="comment-form">
            <p>100字以内(任意)</p>
            <textarea class="comment-area" type="text" maxlength="80" ></textarea>
        </div>
        <div class="flip-hand-content">
            <div class="flip-hand">
                <span class="fa fa-hand-o-up"></span>
            </div>
            <p class="flip-msg">説明を読み終えた方はSwipe!</p>
        </div>
    </div>
</div>