<div class="display-item-container slide2-content">
    <div class="display-img-content">
        <div class="in-shadow"></div>
        <img class="demo-img1 display-img" src="">
    </div>
    <div class="display-content">
        <div class="relative">
            <h3 class="title1 title"></h3><span class="caption-msg msg1">タイトル</span>
        </div>
        <div class="relative">
            <p class="penname1 penname"></p><span class="caption-msg msg2">ペンネーム</span>
        </div>
        <div class="relative">
            <p class="caption1 caption"></p><span class="caption-msg msg3">説明文</span>
        </div>
        <div class="eval-items">
            <label class="fa fa-heart btn" ></label>
            <label class="fa fa-comment btn" ></label>
        </div>
        <div class="comment-form">
            <p>80字以内</p>
            <textarea class="comment-area" type="text" maxlength="80" ></textarea>
        </div>
        <div class="flip-hand-content">
            <div class="flip-hand">
                <span class="fa fa-hand-o-up"></span>
            </div>
            <p class="flip-msg">説明を読み終えた方はSwipe!</p>
        </div>
    </div>
</div>