<!-- <h2　class="slide-title">イラストの見方</h2> -->
<div class="display-item-container slide3-content">
    <!-- <div class="display-item-container"> -->
        <div class="display-img-content" id="" >
            <div class="in-shadow"></div>
            <img class="display-img demo-img2" src="" >
        </div>
        <input id="" class="acd-check" type="checkbox">
        <div class="display-content crient-content">
            <h3 class="title title2"></h3>
            <p class="penname penname2"></p>
            <p class="caption caption2"></p>
            <div class="eval-items">
                <!-- <label class="fa fa-heart btn" for=""></label>
                <label class="fa fa-comment btn" for=""></label> -->
                <div class="heart-wrapper">
                    <input id="" class="heart-check" type="checkbox" value="good" checked>
                    <label class="far-heart btn" for="">投票する</label>
                    <div class="heart-pointer">
                        <p><span class="fa fa-arrow-left"></span>①</p>
                    </div>
                </div>
                <label class="fa fa-comment btn" for=""></label>
            </div>
            <div class="comment-form">
                <p>100字以内(任意)</p>
                <p class="text-error"><span>100文字以内で記入してください。</span></p>
                <textarea class="comment-area paint-comment" type="text" maxlength="100" id=""></textarea>
                <button class="btn crient-submit" id="">
                    <p>
                        <span class="fa fa-paper-plane btn"></span>送信
                    </p>
                </button>
            </div>
        </div>
    <!-- </div> -->
</div>
<div class="slide-caption">
    <p>①投票ボタンをクリックするとボタンが黒く点灯し、投票が反映されます。</p>
    <p>※本展示会では票数によってイラストをランキング化しています。</p>
</div>