<div class="display-container">
    <div class="display-items-container">
        <div id="scroll-1" >
            <div class="sticky">
                <p>１回生</p>
            </div>
        </div>
        <div id="scroll-2" >
            <div class="sticky">
                <p>２回生</p>
            </div>
        </div>
        <div id="scroll-3" >
            <div class="sticky">
                <p>３回生</p>
            </div>
        </div>
        <div id="scroll-4" >
            <div class="sticky">
                <p>４回生</p>
            </div>
        </div>
        <div id="scroll-5" >
            <div class="sticky">
                <p>その他</p>
            </div>
        </div>
        <div id="scroll-6" >
            <div class="sticky">
                <p>合作</p>
            </div>
        </div>
        <div id="scroll-7" >
            <div class="sticky">
                <p>カレンダー</p>
            </div>
            <div class="display-item-container">
                <div class="display-img-content" id="calender" >
                    <div class="in-shadow"></div>
                    <img class="display-img" src="img/calendar.jpg" style="width: 100%; margin-top: 40px;" >
                </div>
                <div class="display-content crient-content">
                    <h3 class="title"></h3>
                    <p class="penname"></p>
                    <p class="caption">
                        ご閲覧いただきありがとうございます！<br>
                        こちらでは2022年のカレンダーを無料配布しております！<br>
                        お手に取っていただけましたら幸いです！<br><br>
                        <a  target="_blank" style="color: blue;" href="https://drive.google.com/file/d/1RqwgDs6H1POlq_u2XiUMLFXk6n1etBQr/view?usp=sharing">こちら</a>からダウンロードできます！<br><br>
                        ※カレンダーはそれぞれ製作者様に著作権がございます。二次配布、無断転載等はご遠慮ください。
                        <br><br><br><br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<template id="display-item-tem">
    <div class="expansion-img-wapper" id="" >
        <img class="expansion-img" src="" >
    </div>
    <div class="display-item-container">
        <div class="display-img-content" id="" >
            <div class="in-shadow"></div>
            <img class="display-img" src="" >
        </div>
        <input id="" class="acd-check" type="checkbox">
        <div class="display-content crient-content">
            <h3 class="title"></h3>
            <p class="penname"></p>
            <p class="caption"></p>
            <div class="eval-items">
                <input id="" class="heart-check" type="checkbox" value="good">
                <!-- <label class="fa fa-heart btn" for=""></label>
                <label class="fa fa-comment btn" for=""></label> -->
                <label class="far-heart btn" for="">投票する</label>
                <label class="fa fa-comment btn" for=""></label>
            </div>
            <div class="comment-form">
                <p>100字以内(任意)</p>
                <p class="text-error"><span>100文字以内で記入してください。</span></p>
                <textarea class="comment-area paint-comment" type="text" maxlength="100" id=""></textarea>
                <button class="btn crient-submit" id="">
                    <p>
                        <span class="fa fa-paper-plane btn"></span>送信
                    </p>
                </button>
            </div>
        </div>
    </div>
</template>