<div class="display-container">
    <div class="display-items-container">
        <%- include('display_item') %>
        <%- include('display_item') %>
        <%- include('display_item') %>
    </div>
</div>