<div class="display-item-container">
    <img class="display-img" src="/images/img3.jpg" alt="">
    <input id="acd-check1" class="acd-check" type="checkbox">
    <div class="display-content">
        <h3 class="title">あああああいいいいいううううう</h3>
        <p class="penname">あああああいいいいいううううう</p>
        <p class="caption">あああああいいいいいうううううあああああいいいいいうううううあああああいいいいいうううううあああああいいいいいうううううあああああいいいいいうううううあああああ</p>
        <div class="eval-items">
            <input id="heart-check1" class="heart-check" type="checkbox">
            <label class="fa fa-heart btn" for="heart-check1" ></label>
            <label class="fa fa-comment btn" for="acd-check1"></label>
        </div>
        <div class="comment-form">
            <p>80字以内</p>
            <textarea class="comment-area" type="text" maxlength="80" ></textarea>
        </div>
    </div>
</div>