<div class="display-container">
    <div class="display-items-container">
        <div id="scroll-1" >
            <div class="sticky">
                <h3>1回生</h3>
            </div>
        </div>
        <div id="scroll-2" >
            <div class="sticky">
                <h3>２回生</h3>
            </div>
        </div>
        <div id="scroll-3" >
            <div class="sticky">
                <h3>３回生</h3>
            </div>
        </div>
        <div id="scroll-4" >
            <div class="sticky">
                <h3>４回生</h3>
            </div>
        </div>
        <div id="scroll-5" >
            <div class="sticky">
                <h3>その他</h3>
            </div>
        </div>
        <div id="scroll-6" >
            <div class="sticky">
                <h3>合作</h3>
            </div>
        </div>
    </div>
</div>
<template id="display-item-tem">
    <div class="display-item-container">
        <div class="display-img-content">
            <div class="in-shadow"></div>
            <img class="display-img" src="" >
        </div>
        <input id="" class="acd-check" type="checkbox">
        <div class="display-content crient-content">
            <h3 class="title"></h3>
            <p class="penname"></p>
            <p class="caption"></p>
            <div class="eval-items">
                <input id="" class="heart-check" type="checkbox" value="good">
                <label class="fa fa-heart btn" for=""></label>
                <label class="fa fa-comment btn" for=""></label>
            </div>
            <div class="comment-form">
                <p>100字以内(任意)</p>
                <p class="text-error"><span>100文字以内で記入してください。</span></p>
                <textarea class="comment-area paint-comment" type="text" maxlength="100"></textarea>
                <button class="btn crient-submit">
                    <p>
                        <span class="fa fa-paper-plane btn"></span>提出
                    </p>
                </button>
            </div>
        </div>
    </div>
</template>