* {
  margin: 0px;
}

a {
  text-decoration: none;
}

.btn:hover {
  opacity: 0.5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

body {
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header #ham-menu-on {
  display: none;
}

body header .header-cover {
  -webkit-box-shadow: 0 1.75vw 2.5vw 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 1.75vw 2.5vw 0 rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 200px;
  background-color: rgba(50, 50, 50, 0.95);
}

body header .header-cover .header-content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .header-cover .header-content section {
  z-index: 15;
  margin-right: 50px;
}

body header .header-cover .header-content section label {
  position: relative;
  width: 125px;
  height: 110px;
  cursor: pointer;
  display: inline-block;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body header .header-cover .header-content section label span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: #fff;
  border-radius: 10px;
  display: inline-block;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body header .header-cover .header-content section label span:nth-of-type(1) {
  top: 0;
}

body header .header-cover .header-content section label span:nth-of-type(2) {
  top: 50px;
}

body header .header-cover .header-content section label span:nth-of-type(3) {
  bottom: 0;
}

body header .header-cover .ham-menu .ham-menu-contents {
  z-index: 12;
  width: 0vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .header-cover .ham-menu .ham-menu-contents .ham-menu-container {
  margin: 200px 0px;
  height: 90vh;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header .header-cover .ham-menu .ham-menu-contents .ham-menu-container .index-btns {
  width: 70%;
}

body header .header-cover .ham-menu .ham-menu-contents .ham-menu-container .index-btns label {
  -webkit-transition: all .5s;
  transition: all .5s;
}

body header .header-cover .ham-menu .ham-menu-contents .ham-menu-container .index-btns label p {
  padding-left: 5%;
  color: white;
  font-size: 50px;
  height: 100px;
  border-bottom: solid 2px white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .header-cover .ham-menu .ham-menu-contents .ham-menu-container .index-btns .scroll-btn:hover {
  -webkit-transition: all .5s;
  transition: all .5s;
}

body header .header-cover .ham-menu .ham-menu-contents .ham-menu-container .index-btns .scroll-btn:hover p {
  color: black;
  border-bottom: solid 5px black;
  background-color: white;
}

body header .header-cover .ham-menu .ham-menu-contents .ham-menu-container .other-btns {
  width: 70%;
}

body header .header-cover .ham-menu .ham-menu-contents .ham-menu-container .other-btns .other-btn {
  -webkit-transition: all .5s;
  transition: all .5s;
}

body header .header-cover .ham-menu .ham-menu-contents .ham-menu-container .other-btns .other-btn p {
  padding-left: 5%;
  color: white;
  font-size: 50px;
  height: 100px;
  border-bottom: solid 2px white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .header-cover .ham-menu .ham-menu-contents .ham-menu-container .other-btns .other-btn p span {
  margin-right: 5%;
  color: white;
}

body header .header-cover .ham-menu .ham-menu-contents .ham-menu-container .other-btns .other-btn:hover {
  -webkit-transition: all .5s;
  transition: all .5s;
}

body header .header-cover .ham-menu .ham-menu-contents .ham-menu-container .other-btns .other-btn:hover p {
  color: black;
  border-bottom: solid 5px black;
  background-color: white;
}

body header .header-cover .ham-menu .ham-menu-contents .ham-menu-container .other-btns .other-btn:hover p span {
  color: black;
}

body header .header-cover .ham-menu .ham-menu-back {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 11;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body header #ham-menu-on:checked + .header-cover .header-content section span:nth-of-type(1) {
  -webkit-transform: translateY(50px) rotate(-45deg);
          transform: translateY(50px) rotate(-45deg);
}

body header #ham-menu-on:checked + .header-cover .header-content section span:nth-of-type(2) {
  opacity: 0;
}

body header #ham-menu-on:checked + .header-cover .header-content section span:nth-of-type(3) {
  -webkit-transform: translateY(-50px) rotate(45deg);
          transform: translateY(-50px) rotate(45deg);
}

body header #ham-menu-on:checked + .header-cover .ham-menu .ham-menu-contents {
  width: 80vw;
}

body header #ham-menu-on:checked + .header-cover .ham-menu .ham-menu-contents .ham-menu-container {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  opacity: 1;
}

body header #ham-menu-on:checked + .header-cover .ham-menu .ham-menu-back {
  visibility: visible;
  opacity: 1;
}

body .top-title {
  width: 100vw;
  margin-top: 200px;
  position: relative;
  color: white;
  font-size: 40px;
  text-shadow: 1px 0 5px black;
}

body .top-title .title-img {
  width: 100%;
  height: auto;
}

body .top-title .year {
  position: absolute;
  top: 5%;
  left: 10%;
}

body .top-title .name {
  position: absolute;
  bottom: 5%;
  right: 10%;
}

body .caption-content {
  width: 100vw;
  margin-bottom: 2.5vw;
  background-color: white;
  -webkit-box-shadow: 0 1.75vw 1.75vw 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1.75vw 1.75vw 0 rgba(0, 0, 0, 0.1);
  height: 1000px;
}

body .display-container {
  width: 95vw;
  margin-bottom: 2.5vw;
}

body .display-container .display-items-container .sticky {
  z-index: 5;
  padding: 2.5%;
  background-color: rgba(255, 255, 255, 0.8);
  position: -webkit-sticky;
  position: sticky;
  font-size: 40px;
  margin-bottom: 2.5vw;
  border-radius: 2.5vw;
  -webkit-box-shadow: 0 1.75vw 1.75vw 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1.75vw 1.75vw 0 rgba(0, 0, 0, 0.1);
  top: 220px;
}

body .display-container .display-items-container .sticky h3 {
  margin-left: 5%;
}

body .display-container .display-items-container .display-item-container {
  overflow: hidden;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2.5vw;
  -webkit-box-shadow: 0 1.75vw 1.75vw 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1.75vw 1.75vw 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 2.5vw;
}

body .display-container .display-items-container .display-item-container .display-img-content {
  width: 100%;
  position: relative;
}

body .display-container .display-items-container .display-item-container .display-img-content .display-img {
  width: 100%;
  height: auto;
}

body .display-container .display-items-container .display-item-container .display-img-content .in-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 -20px 25px 0 rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 -20px 25px 0 rgba(0, 0, 0, 0.1) inset;
}

body .display-container .display-items-container .display-item-container .acd-check {
  display: none;
}

body .display-container .display-items-container .display-item-container .display-content {
  width: 85%;
}

body .display-container .display-items-container .display-item-container .display-content .title {
  font-size: 40px;
  margin: 50px 0px 15px 0px;
}

body .display-container .display-items-container .display-item-container .display-content .penname {
  font-size: 32px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
}

body .display-container .display-items-container .display-item-container .display-content .caption {
  font-size: 36px;
  margin-bottom: 50px;
  line-height: 1.8em;
}

body .display-container .display-items-container .display-item-container .display-content .eval-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

body .display-container .display-items-container .display-item-container .display-content .eval-items .fa-heart {
  font-size: 100px;
  color: #d7d7d7;
}

body .display-container .display-items-container .display-item-container .display-content .eval-items .fa-comment {
  font-size: 98px;
  color: #d7d7d7;
  display: block;
}

body .display-container .display-items-container .display-item-container .display-content .eval-items .heart-check {
  display: none;
}

body .display-container .display-items-container .display-item-container .display-content .eval-items .heart-check:checked + .fa-heart {
  color: #ff8484;
}

body .display-container .display-items-container .display-item-container .display-content .comment-form {
  width: 100%;
  height: 0px;
  display: block;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  visibility: hidden;
}

body .display-container .display-items-container .display-item-container .display-content .comment-form p {
  font-size: 32px;
}

body .display-container .display-items-container .display-item-container .display-content .comment-form .comment-area {
  width: 95%;
  height: 300px;
  font-size: 40px;
  padding: 2.5%;
  background-color: whitesmoke;
  outline: none;
  border-radius: 10px;
}

body .display-container .display-items-container .display-item-container .acd-check:checked + .display-content .eval-items .fa-comment {
  font-size: 98px;
  color: #809dff;
  display: block;
}

body .display-container .display-items-container .display-item-container .acd-check:checked + .display-content .comment-form {
  height: 450px;
  opacity: 1;
  visibility: visible;
  display: block;
  padding: 5px 0 50px 0;
}
/*# sourceMappingURL=style.css.map */