@keyframes flipping-hand{
    0%{
        opacity: 1;
    }
    50%{
        transform: translateX(-100px);
        opacity: 1;
    }
    60%{
        opacity: 0;
        transform: translateX(-100px);
    }
    90%{
        opacity: 0;
        transform: translateX(0px);
    }
    100%{
        opacity: 1;
    }


}
@keyframes msg-on-off1{
    0%{
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes msg-on-off2{
    0%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    60%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes msg-on-off3{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    70%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes down-hand{
    50%{
        transform: translateY(-10px);
    }
}

@keyframes down-load {
    0% {
      width: 20px;
      height: 20px;
      opacity: 1;
    }
    100% {
      width: 6px;
      height: 6px;
      opacity: .2;
      margin-left: 7px;
    }
  }

*{
    margin: 0px;
    word-wrap:break-word;
}

a{
    text-decoration: none;
}

//ロード画面
#loading {
    position: fixed;
    top: 0px;
    //transition:  1s;
    z-index: 100;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    p{
        margin-top: 20px;
    }
    .load-object {
        position: relative;
        width: 100px;
        height: 100px;
        .ball {
            width: 50%;
            height: 20px;
            position: absolute;
            top: calc(50% - 10px);
            transform-origin: 100% 50%;
            left: 0;
        }
        .ball::before {
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: rgb(55, 128, 255);
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        .ball-1::before {
            animation: down-load 1s linear 0s infinite;
        }
        .ball-2 {
            transform: rotate(45deg);
        }
        .ball-2::before {
            animation: down-load 1s linear -0.125s infinite;
        }
        .ball-3 {
            transform: rotate(90deg);
        }
        .ball-3::before {
            animation: down-load 1s linear -0.25s infinite;
        }
        .ball-4 {
            transform: rotate(135deg);
        }
        .ball-4::before {
            animation: down-load 1s linear -0.375s infinite;
        }
        .ball-5 {
            transform: rotate(180deg);
        }
        .ball-5::before {
            animation: down-load 1s linear -0.5s infinite;
        }
        .ball-6 {
            transform: rotate(225deg);
        }
        .ball-6::before {
            animation: down-load 1s linear -0.625s infinite;
        }
        .ball-7 {
            transform: rotate(270deg);
        }
        .ball-7::before {
            animation: down-load 1s linear -0.75s infinite;
        }
        .ball-8 {
            transform: rotate(315deg);
        }
        .ball-8::before {
            animation: down-load 1s linear -0.875s infinite;
        }
    }
}
.loading-fadeaout{
    transition:  1s;
    opacity: 0;
    pointer-events: none;
}
//ロード画面

.err-msg{
    width: 100%;
    color: red;
}
::placeholder {
    color:rgb(167, 167, 167);
}

.text-error{
    display:none;
    position:absolute;
    top:-60px;
    font-size:12px;
    background-color:rgba(255,0,0,0.7);
    color:#fff;
    padding:10px;
    text-align:center;
  }
  .text-error::before{
    content:"";
    position:absolute;
    bottom:-10px;
    left:10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 6px 0 6px;
    border-color: rgba(255,0,0,0.7) transparent transparent transparent;
  }

.btn:hover{
    opacity: 0.5;
    transition: 0.5s;
    cursor: pointer;
}

body {
    margin: 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    align-items: center;

    .comment-and-heart-form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    //header部分

    header{
        #ham-menu-on{
            display: none;
        }
        .header-cover{
            position: fixed;
            top: 0;
            left: 0;
            z-index: 10;
            width: 100vw;
            height: 80px;
            .header-content{
                margin-top: 60px;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                transition:  0.5s;
                section{
                    width: 50px;
                    height: 50px;
                    border-radius: 50px;
                    background-color: rgba(255, 255, 255, 0.95);
                    border: solid 3px rgb(0, 0, 0);
                    z-index: 15;
                    margin-right: 5vw;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
                    label{
                        position: relative;
                        width: 26px;
                        height: 23px;
                        cursor: pointer;
                        display: inline-block;
                        transition: all .5s;
                        box-sizing: border-box;
                        span {
                            position: absolute;
                            left: 0;
                            width: 100%;
                            height: 3px;
                            background-color: black;
                            border-radius: 2px;
                            display: inline-block;
                            transition: all .5s;
                            box-sizing: border-box;
                        }
                        span:nth-of-type(1) {
                            top: 0;
                        }
                        span:nth-of-type(2) {
                            top: 10px;
                        }
                        span:nth-of-type(3) {
                            bottom: 0;
                        }
                    }
                }
            }
            .head-animation{
                transform: translateX(25%);
            }
            .ham-menu{
                .ham-menu-contents{
                    z-index: 12;
                    width: 0vw;
                    height: 100vh;
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-color: black;
                    transition: 0.4s;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    overflow: scroll;
                    .ham-menu-container{
                        margin: 80px 0px 120px 0;
                        height: 100vh;
                        transition: 0.2s;
                        opacity: 0;
                        width: 80%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        .index-btns{
                            width: 75%;
                            label{
                                transition: all .5s;
                                p{
                                    padding-left: 5%;
                                    color: white;
                                    font-size: 18px;
                                    height: 40px;
                                    border-bottom: solid 1px white;
                                    display: flex;
                                    align-items: center;
                                }
                            }
                            .scroll-btn:hover{
                                transition: all .5s;
                                p{
                                    color:black;
                                    border-bottom: solid 5px black;
                                    background-color: white;
                                }
                            }
                        }
                        .other-btns{
                            width: 75%;
                            .other-btn{
                                transition: all .5s;
                                p{
                                    padding-left: 5%;
                                    color: white;
                                    font-size: 18px;
                                    height: 40px;
                                    border-bottom: solid 1px white;
                                    display: flex;
                                    align-items: center;
                                    span{
                                        margin-right: 20px;
                                        color: white;
                                        width: 5px;
                                        height: auto;
                                    }
                                }
                            }
                            .other-btn:hover{
                                transition: all .5s;
                                p{
                                    color:black;
                                    border-bottom: solid 5px black;
                                    background-color: white;
                                    span{
                                        height: auto;
                                        color:black;
                                    }
                                }
                            }
                        }
                    }
                }
                .ham-menu-back{
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 100vw;
                    height: 100vh;
                    background-color: rgba(0, 0, 0, 0.6);
                    z-index: 11;
                    visibility: hidden;
                    opacity: 0;
                    transition: 0.1s;
                }
            }
        }
        #ham-menu-on:checked + .header-cover{
            .header-content{
                section{
                    background-color:rgba(50, 50, 50, 0.95);
                    span{
                        background-color:white;
                    }
                    span:nth-of-type(1) {
                        transform: translateY(10px) rotate(-45deg);
                    }
                    span:nth-of-type(2) {
                        opacity: 0;
                    }
                    span:nth-of-type(3) {
                        transform: translateY(-10px) rotate(45deg);
                    }
                }
            }
            .head-animation{
                transform: initial;
            }
            .ham-menu{
                .ham-menu-contents{
                    width: 80vw;
                    .ham-menu-container{
                        transition: 0.8s;
                        opacity: 1;
                        .index-btns{
                            label{
                                p{}
                            }
                        }
                    }
                }
                .ham-menu-back{
                    visibility: visible;
                    transition: 0.1s;
                    opacity: 1;
                }
            }
        }
    }

    //header部分

    //title部分

    .top-title{
        width: 100vw;
        position: relative;
        color: white;
        font-size: 16px;
        text-shadow:1px 0 5px black;
        .title-img{
            width: 100%;
            height: auto;
        }
        .year{
            position: absolute;
            top: 5%;
            left: 10%;
        }
        .name{
            position: absolute;
            bottom: 5%;
            right: 10%;
        }
    }

    //title部分

    //caption部分

    .caption-content{
        width: 100vw;
        margin-bottom: 2.5vw;
        background-color: white;
        box-shadow: 0 1.75vw 1.75vw 0 rgba(0, 0, 0, 0.1);
        //height: 85vh;
        .about-illust-display{
            padding: 40px 0 40px 10vw;
            font-size: 20px;
        }
        .caption-swiper{
            width: 100%;
            height: 100%;
            .swiper-container {
                width: 100%;
                height: 100%;
                .swiper-wrapper{
                    width: 100%;
                    height: 100%;
                    .swiper-slide {
                        width: 100%;
                        text-align: center;
                        font-size: 10px;//18px
                        background: #fff;
                        /* Center slide text vertically */
                        height: auto !important;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        padding-top: 0 !important;
                        .display-item-container{ //ここからデモ
                            overflow: hidden;
                            background-color: white;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            border-radius: 5px; //2.5vw
                            box-shadow: 0 1.75vw 1.75vw 0 rgba(0, 0, 0, 0.1);
                            margin-bottom: 2.5vw;
                            width: 80%;
                            text-align: initial;
                            .display-img-content{
                                width: 100%;
                                position: relative;
                                .display-img{
                                    width: 100%;
                                    height: auto;
                                }
                                .in-shadow{
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    box-shadow: 0 -20px 25px 0 rgba(0, 0, 0, 0.1) inset;
                                }
                            }
                            .acd-check{
                                display: none;
                            }
                            .display-content{
                                width: 85%;
                                // padding-bottom: 50px;
                                .title{
                                    font-size: 20px;
                                    margin: 15px 0px 9px 0px;
                                    position: relative;
                                }
                                .penname{
                                    font-size: 18px;
                                    color: rgba(0, 0, 0, 0.5);
                                    margin-bottom: 15px;
                                    position: relative;
                                }
                                .caption{
                                    font-size: 18px;
                                    margin-bottom: 25px;
                                    line-height: 1.8em;
                                    position: relative;
                                }
                                .caption-msg{
                                    color:rgb(255, 0, 25);
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    margin-right: -50%;
                                    transform: translate(-50%, -50%);
                                    font-size: 18px;
                                    font-weight: bold;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    width: 100%;
                                    height: 100%;
                                    border: rgb(255, 132, 132) solid 3px;
                                    //border:rgb(255, 0, 25) solid 3px;
                                    border-radius: 5px;
                                    padding: 0 10px;
                                    background-color: rgba(255, 255, 255, 0.7);
                                    //background-color:rgba(255, 132, 132,0.5);
                                    // animation: msg-on-off 5s ease 0s infinite normal none running;
                                }
                                .msg1{
                                    animation: msg-on-off1 6s ease 0s infinite normal none running;
                                }
                                .msg2{
                                    animation: msg-on-off2 6s ease 0s infinite normal none running;
                                }
                                .msg3{
                                    animation: msg-on-off3 6s ease 0s infinite normal none running;
                                }
                                .eval-items{
                                    display: flex;
                                    justify-content: space-between;
                                    margin-bottom: 25px;
                                    .fa-heart{
                                        width: 60px;
                                        height: 60px;
                                        border-radius: 60px;
                                        box-shadow: 0 2.5px 5px 0 rgba(0, 0, 0, 0.3);
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        font-size: 30px;//100
                                        color: rgb(215, 215, 215);
                                    }
                                    .fa-heart::before{
                                        padding-top: 3px;
                                    }
                                    .fa-comment{
                                        width: 60px;
                                        height: 60px;
                                        border-radius: 60px;
                                        box-shadow: 0 2.5px 5px 0 rgba(0, 0, 0, 0.3);
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        font-size: 30px;//98
                                        color: rgb(215, 215, 215);
                                    }
                                    .fa-comment::before{
                                        padding-bottom: 2px;
                                    }
                                    .heart-check{
                                        display: none;
                                    }
                                    .heart-check:checked + .fa-heart{
                                        color: rgb(255, 132, 132);
                                    }
                                }
                                .comment-form{
                                    width: 100%;
                                    height: 0px;
                                    display: block;
                                    opacity: 0;
                                    transition: 0.5s;
                                    visibility: hidden;
                                    p{
                                        font-size: 18px;
                                    }
                                    .comment-area{
                                        width: 95%;
                                        height: 200px;
                                        font-size: 18px;
                                        padding: 10px;
                                        background-color: rgb(245, 245, 245);
                                        outline: none;
                                        border-radius: 5px;
                                        border-color: rgba(0, 0, 0, 0);
                                        box-shadow:0px 0px 8px 2px #ccc inset;
                                    }
                                }
                            }
                            .acd-check:checked + .display-content{
                                .eval-items{
                                    .fa-comment{
                                        // font-size: 98px;
                                        color: rgb(128, 157, 255);
                                    }
                                }
                                .comment-form{
                                    height: 130px;
                                    opacity: 1;
                                    visibility: visible;
                                    display: block;
                                    padding: 5px 0 50px 0;
                                }
                            }
                        }
                        .slide1-content{
                            width: 80%;
                            height: 90%;
                            border-radius: 5px; //2.5vw;
                            box-shadow: 0 1.75vw 1.75vw 0 rgba(0, 0, 0, 0.1);
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            .greet{
                                font-size: 18px;
                                padding: 0px 30px;
                            }
                            .induction-msg{
                                font-size: 14px;
                                padding: 0px 30px;
                            }
                        }
                        .slide2-content{
                            position: relative;
                            .flip-hand-content{
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                margin-right: -50%;
                                transform: translate(-50%, -50%)
                            }
                        }
                        .slide3-content{
                            position: relative;
                            .flip-hand-content{
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                margin-right: -50%;
                                transform: translate(-50%, -50%);
                            }
                            .heart-check{
                                display: none;
                            }
                            .display-content{
                                .flip-hand-content{
                                    opacity: 0;
                                    transition: 1.0s;
                                }
                                .fa-hand-o-down-cover{
                                    opacity: 1;
                                    transition: 0.5s;
                                }
                                .eval-items{
                                    position: relative;
                                }
                                .open-massage{
                                    color: rgb(255, 0, 25);
                                    font-size: 18px;
                                    text-shadow:2px 2px 0 #FFF, -2px -2px 0 #FFF,-2px 2px 0 #FFF, 2px -2px 0 #FFF, 0px 2px 0 #FFF,  0 -2px 0 #FFF, -2px 0 0 #FFF, 2px 0 0 #FFF;
                                    position: absolute;
                                    opacity: 0;
                                    transition: 0.5s;
                                    //text-align: center;
                                    top: -80px;
                                    width: 95%;
                                    background-color: rgba(255, 255, 255, 0.8);
                                }
                            }
                            .heart-check:checked + .display-content{
                                .flip-hand-content{
                                    opacity: 1;
                                    transition: 1.0s;
                                }
                                .fa-heart{
                                    color: rgb(255, 132, 132);
                                }
                                .fa-hand-o-down-cover{
                                    opacity: 0;
                                    transition: 0.5s;
                                }
                                .open-massage{
                                    opacity: 1;
                                    transition: 0.5s;
                                }
                            }
                        }
                        .slide4-content{
                            position: relative;
                            .flip-hand-content{
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                margin-right: -50%;
                                transform: translate(-50%, -50%);
                            }
                            .display-content{
                                .flip-hand-content{
                                    opacity: 0;
                                    transition: 1.0s;
                                }
                                .fa-hand-o-down-cover{
                                    opacity: 1;
                                    transition: 0.5s;
                                }
                                .eval-items{
                                    position: relative;
                                }
                                .open-massage{
                                    color: rgb(255, 0, 25);
                                    font-size: 18px;
                                    text-shadow:2px 2px 0 #FFF, -2px -2px 0 #FFF,-2px 2px 0 #FFF, 2px -2px 0 #FFF, 0px 2px 0 #FFF,  0 -2px 0 #FFF, -2px 0 0 #FFF, 2px 0 0 #FFF;
                                    position: absolute;
                                    opacity: 0;
                                    //transition: 1s;
                                    top: 125px;
                                    width: 100%;
                                    margin-left: 5px;
                                }
                                .comment-area{
                                    height: 100px !important;
                                }
                            }
                            .acd-check:checked + .display-content{
                                .flip-hand-content{
                                    opacity: 1;
                                    transition: 1.0s;
                                }
                                .fa-hand-o-down-cover{
                                    opacity: 0;
                                    transition: 0.5s;
                                }
                                .open-massage{
                                    opacity: 1;
                                    transition: 1.5s;
                                }
                            }
                        }
                        .slide5-content{
                            width: 80%;
                            height: 90%;
                            border-radius: 5px;//2.5vw;
                            box-shadow: 0 1.75vw 1.75vw 0 rgba(0, 0, 0, 0.1);
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            .greet{
                                font-size: 18px;
                                padding: 0px 30px;
                            }
                            .induction-msg{
                                font-size: 14px;
                                padding: 0px 30px;
                            }
                        }
                        .flip-hand-content{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            .flip-hand{
                                position: relative;
                                margin-top: 20px;
                                width: 1px;
                                height: 60px;
                                span{
                                    font-size: 60px;
                                    color: rgb(0, 115, 255);
                                    position: absolute;
                                    top: 0px;
                                    animation: flipping-hand 2s ease 0s infinite normal none running;
                                    left: 30px;
                                    text-shadow:2px 2px 0 #FFF, -2px -2px 0 #FFF,-2px 2px 0 #FFF, 2px -2px 0 #FFF, 0px 2px 0 #FFF,  0 -2px 0 #FFF, -2px 0 0 #FFF, 2px 0 0 #FFF;
                                }
                            }
                            .flip-msg{
                                color: rgb(0, 115, 255);
                                font-size: 16px;
                                text-shadow:1px 1px 0 #FFF, -1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px -1px 0 #FFF, 0px 1px 0 #FFF,  0-1px 0 #FFF, -1px 0 0 #FFF, 1px 0 0 #FFF;
                            }
                        }
                        .fa-cover{
                            position: relative;
                            .fa-hand-o-down-cover{
                                animation: down-hand 0.5s ease 0s infinite normal none running;
                                top: -100%;
                                position: relative;
                                .fa-hand-o-down{
                                    position: absolute;
                                    top: -30px;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    color: rgb(255, 0, 25);
                                    font-size: 50px;
                                    text-shadow:2px 2px 0 #FFF, -2px -2px 0 #FFF,-2px 2px 0 #FFF, 2px -2px 0 #FFF, 0px 2px 0 #FFF,  0 -2px 0 #FFF, -2px 0 0 #FFF, 2px 0 0 #FFF;
                                }
                                .tap-message{
                                    color: rgb(255, 0, 25);
                                    font-size: 20px;
                                    text-shadow:2px 2px 0 #FFF, -2px -2px 0 #FFF,-2px 2px 0 #FFF, 2px -2px 0 #FFF, 0px 2px 0 #FFF,  0 -2px 0 #FFF, -2px 0 0 #FFF, 2px 0 0 #FFF;
                                    position: absolute;
                                    top: -70px;
                                    left: 60%;
                                    transform: translate(-50%, -50%);
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
                .swiper-pagination{
                    height: 20px;
                    top: initial;
                    bottom: 0;
                    display: none;
                }
                .swiper-button-disabled{
                    display: none;
                }
                // .swiper-button-next{
                //     font-size: 30px !important;
                // }
            }
        }
        .caption-content-bottom{
            width: 100%;
            height: 100px;
            background-color: white;
            z-index: -1;
        }
    }

    //caption部分

    //display部分
    .display-container{
        width: 95vw;
        margin-bottom: 2.5vw;
        .display-items-container{
            .sticky{
                z-index: 5;
                height: 50px;
                background-color: rgba(255, 255, 255, 0.8);
                position: sticky;
                font-size: 18px;
                margin-bottom: 2.5vw;
                border-radius: 5px;
                box-shadow: 0 1.75vw 1.75vw 0 rgba(0, 0, 0, 0.1);
                //top: 170px;  //ヘッダーに合わせるようにしたい。
                top: 15px;
                display: flex;
                align-items: center;
                h3{
                    margin-left: 5%;
                }
            }
            .display-item-container{
                overflow: hidden;
                background-color: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 5px; //2.5vw;
                box-shadow: 0 1.75vw 1.75vw 0 rgba(0, 0, 0, 0.1);
                margin-bottom: 2.5vw;
                .display-img-content{
                    width: 100%;
                    position: relative;
                    .display-img{
                        width: 100%;
                        height: auto;
                    }
                    .in-shadow{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        box-shadow: 0 -20px 25px 0 rgba(0, 0, 0, 0.1) inset;
                    }
                }
                .acd-check{
                    display: none;
                }
                .display-content{
                    width: 85%;
                    // padding-bottom: 50px;
                    .title{
                        font-size: 20px;
                        margin: 15px 0px 9px 0px;
                    }
                    .penname{
                        font-size: 18px;
                        color: rgba(0, 0, 0, 0.5);
                        margin-bottom: 15px;
                    }
                    .caption{
                        font-size: 18px;
                        margin-bottom: 25px;
                        line-height: 1.8em;
                    }
                    .eval-items{
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 25px;
                        .fa-heart{
                            width: 60px;
                            height: 60px;
                            border-radius: 60px;
                            box-shadow: 0 2.5px 5px 0 rgba(0, 0, 0, 0.3);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 30px;//100
                            color: rgb(215, 215, 215);
                        }
                        .fa-heart::before{
                            padding-top: 3px;
                        }
                        .fa-comment{
                            width: 60px;
                            height: 60px;
                            border-radius: 60px;
                            box-shadow: 0 2.5px 5px 0 rgba(0, 0, 0, 0.3);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 30px;//98
                            color: rgb(215, 215, 215);
                        }
                        .fa-comment::before{
                            padding-bottom: 2px;
                        }
                        .heart-check{
                            display: none;
                        }
                        .heart-check:checked + .fa-heart{
                            color: rgb(255, 132, 132);
                        }
                    }
                    .comment-form{
                        width: 100%;
                        height: 0px;
                        display: block;
                        opacity: 0;
                        transition: 0.5s;
                        visibility: hidden;
                        position: relative;
                        p{
                            font-size: 18px;
                        }
                        .comment-area{
                            width: 95%;
                            height: 200px;
                            font-size: 18px;
                            padding: 10px;
                            background-color: rgb(245, 245, 245);
                            outline: none;
                            border-radius: 5px;
                            border-color: rgba(0, 0, 0, 0);
                            box-shadow:0px 0px 8px 2px #ccc inset;
                        }
                    }
                }
                .acd-check:checked + .display-content{
                    .eval-items{
                        .fa-comment{
                            // font-size: 98px;
                            color: rgb(128, 157, 255);
                        }
                    }
                    .comment-form{
                        height: 230px;
                        opacity: 1;
                        visibility: visible;
                        display: block;
                        padding: 5px 0 50px 0;
                    }
                }
            }
        }
    }
    //display部分

    //bottom部分
    .display-bottom{
        width: 100%;
        background-color: white;
        //height: 200px;
        display: flex;
        align-items: center;
        flex-direction: column;
        .about-display-form{
            width: 80%;
            h4{
                font-size: 20px;
                margin-top: 50px;
                margin-bottom: 20px;
            }
            p{
                font-size: 18px;
            }
            .comment-area{
                width: 95%;
                height: 200px;
                font-size: 18px;
                padding: 10px;
                background-color: rgb(245, 245, 245);
                outline: none;
                border-radius: 5px;
                border-color: rgba(0, 0, 0, 0);
                box-shadow:0px 0px 8px 2px #ccc inset;
            }
        }
        button{
            margin: 20px 15px;
            width: 50%;
            padding: 10px 0px;
            font-size: 18px;
            border-radius: 5px;
            border: initial;
            height: 50px;
            color: white;
            background-color: rgb(0, 115, 255);
            span{
                color: white;
                margin-right: 10px;
            }
        }
    }
    //bottom部分

    //login部分
    #register-form{
        display: none;
    }
    .login-container{
        transition: 0.1s;
        margin-top: 2.5vw;
        width: 95vw;
        background-color: white;
        border-radius: 5px; //2.5vw;
        box-shadow: 0 1.75vw 1.75vw 0 rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 60px;
        .title{
            font-size: 24px;
            //width: 80%;
            margin-top: 50px;
            margin-bottom: 20px;
        }
        .login-attention{
            width: 80%;
            color: red;
            font-size: 18px;
            margin-bottom: 10px;
        }
        .form{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 80%;
            .sub-title{
                margin-top: 20px;
                width: 100%;

            }
            .sep{
                width: 100%;
                color: gray;
            }
            #mailAddress,#password{
                width: calc(100% - 20px);
                font-size: 16px;
                padding: 10px;
                background-color: rgb(245, 245, 245);
                outline: none;
                border-radius: 5px;
                border-color: rgba(0, 0, 0, 0);
                box-shadow:0px 0px 8px 2px #ccc inset;
            }
            .btn-container{
                width: 100%;
                margin-top: 30px;
                button{
                    width: 100%;
                    padding: 10px 20px;
                    background-color: rgb(0, 115, 255);
                    font-size: 16px;
                    border-radius: 5px;
                    border: initial;
                    color: white;
                }
            }
        }
        .err-msg{
            width: 80%;
        }
        .other-btn{
            margin: 30px 0 0px 0;
            width: 80%;
            padding: 10px 0px;
            background-color: white;
            font-size: 16px;
            border-radius: 5px;
            border: 1px solid black;
            color:black;
            display: flex;
            justify-content: center;
        }
        #return{
            border: initial;
            background-color:rgb(123, 123, 123);
            color:white;
        }
    }
    // .sign-in{
    //     height: 500px;
    //     opacity: 1;
    //     visibility: initial;
    // }
    // .new{
    //     height: 0px;
    //     opacity: 0;
    //     visibility: hidden;
    // }
    // #register-form:checked + .login-contents{
    //     .sign-in{
    //         height: 0px;
    //         transition: 0.1s;
    //         opacity: 0;
    //         visibility: hidden;
    //     }
    //     .new{
    //         height: 500px;
    //         transition: 0.1s;
    //         opacity: 1;
    //         visibility: initial;
    //     }
    // }
    //login部分

    //account部分
    .account-container{
        .menu-contents{
            background-color: white;
            padding-bottom: 60px;
            width: 95vw;
            margin-top: 2.5vw;
            margin-bottom: 2.5vw;
            font-size: 18px;
            border-radius: 5px; //2.5vw;
            box-shadow: 0 1.75vw 1.75vw 0 rgba(0, 0, 0, 0.1);
            .items-container{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                .new-account-form{
                    display: flex;
                    justify-content: center;
                    //align-items: center;
                    flex-direction: column;
                    margin-top: 50px;
                    width: 80%;
                    h3{
                        font-size: 20px;
                        margin-bottom: 20px;
                    }
                    img{
                        width: 100%;
                        height: auto;
                    }
                    input,textarea,select{
                        outline: none;
                        font-size: 18px;
                    }
                    .text-input{
                        font-size: 18px;
                        padding: 10px;
                        background-color: rgb(245, 245, 245);
                        border-radius: 5px;
                        border-color: rgba(0, 0, 0, 0);
                        box-shadow:0px 0px 8px 2px #ccc inset;
                    }
                    label{
                        margin-top: 20px;
                    }
                    textarea{
                        font-size: 18px;
                        padding: 10px;
                        background-color: rgb(245, 245, 245);
                        border-radius: 5px;
                        border-color: rgba(0, 0, 0, 0);
                        box-shadow:0px 0px 8px 2px #ccc inset;
                        height: 150px;
                        margin-bottom: 20px;
                        width: calc(100% - 20px);
                    }
                    .caption-wrapper{
                        position: relative;
                        width: 100%;
                    }
                    select{
                        padding: 10px 10px;
                        background-color: white;
                        font-size: 16px;
                        border-radius: 5px;
                        border: 1px solid black;
                        display: flex;
                        justify-content: center;
                    }
                    #file{
                        font-size: 16px;
                    }
                    button{
                        margin-top: 20px;
                        width: 100%;
                        padding: 10px 0px;
                        font-size: 18px;
                        border-radius: 5px;
                        border: initial;
                    }
                    #submit-btn{
                        color: white;
                        background-color: rgb(0, 115, 255);
                    }
                    #return{
                        border: solid black 1px;
                        background-color: white;
                    }
                    #delete{
                        color: white;
                        background-color: rgb(255, 0, 25);
                    }
                }
            }
        }
    }
    //account部分

    //account_menu
    .change-check{
        display: none;
    }
    .account-menu-wrapper{
        .account-menu-header{
            width: 100vw;
            height: 75px;
            background-color: rgba(0, 0, 0, 0.8);
            position: fixed;
            top: 0;
            left: 0;
            z-index: 10;
            display: flex;
            justify-content: center;
            align-items: center;
            .header-content{
                width: 95%;
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                button{
                    margin: 20px 15px;
                    width: 120px;
                    padding: 10px 0px;
                    font-size: 18px;
                    border-radius: 5px;
                    border: initial;
                    height: 50px;
                }
                #logout{
                    background-color: rgb(0, 115, 255);
                    color: white;
                    opacity: 1;
                    transition: 0.5s;
                }
                #change-comment{
                    background-color: rgb(123, 123, 123);
                    color: white;
                    opacity: 1;
                    transition: 0.1s;
                }
                #change-edit{
                    background-color: white;
                    color: rgb(0, 0, 0);
                    opacity: 0;
                    width: 0;
                    margin: 0;
                    transition: 0.1s;
                }
            }
        }
        .account-menu-container{
            width: 95vw;
            margin-top: calc(2.5vw + 75px);
            display: flex;
            flex-direction: column;
            align-items: center;
            .account-menu-contents{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                .content-no{
                    width: 300px;
                    height: 0px;
                }
                .register-content{
                    width: 300px;
                    overflow: hidden;
                    background-color: white;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border-radius: 5px; //2.5vw
                    box-shadow: 0 1.75vw 1.75vw 0 rgba(0, 0, 0, 0.1);
                    margin-bottom: 2.5vw;
                    .account-img-content{
                        width: 100%;
                        position: relative;
                        overflow: hidden;
                        height: 200px;
                        .in-shadow{
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            box-shadow: 0 -20px 25px 0 rgba(0, 0, 0, 0.1) inset;
                        }
                        .account-img{
                            width: 100%;
                            height: auto;
                        }
                        .fa{
                            color:rgb(215, 215, 215);
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            font-size: 70px;
                        }
                    }
                    .account-contents{
                        height: 100px;
                        button{
                            margin: 20px 15px;
                            width: 100px;
                            padding: 10px 0px;
                            font-size: 18px;
                            border-radius: 5px;
                            border: initial;
                            color: white;
                        }
                        #new-register{
                            background-color: rgb(0, 115, 255);
                            width: 150px;
                        }
                        .edit{
                            background-color: white;
                            border: solid black 1px;
                            color: black;
                            opacity: 1;
                            transition: 0.5s;
                        }
                        .delete{
                            background-color: rgb(255, 0, 25);
                            opacity: 1;
                            transition: 0.5s;
                        }
                        .comment{
                            background-color: rgb(123, 123, 123);
                            border: solid white 1px;
                            color: white;
                            display: none;
                            opacity: 0;
                            width: 150px;
                            transition: 0.5s;
                        }
                    }
                }
            }
        }
    }
    #change:checked + .account-menu-wrapper{
        #change-comment{
            // display: none;
            width: 0;
            height: 50px;
            margin: 0;
            opacity: 0;
        }
        #change-edit{
            display: block;
            width: 120px;
            height: 50px;
            margin: 20px 15px;
            opacity: 1;
        }
        .edit{
            display: none;
            opacity: 0;
        }
        .delete{
            display: none;
            opacity: 0;
        }
        .comment{
            display: block;
            opacity: 1;
        }
    }
    //account_menu

    //account_commnent
    .accountComment{
        width: 95vw;
        margin-top: 2.5vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        margin-bottom: 2.5vw;
        border-radius: 5px; //2.5vw;
        box-shadow: 0 1.75vw 1.75vw 0 rgba(0, 0, 0, 0.1);
        padding-bottom: 50px;
        h3{
            font-weight: bold;
            margin-bottom: 20px;
            margin-top: 50px;
            font-size: 20px;
            width: 80%;
        }
        label{
            font-size: 18px;
            margin-top: 20px;
            width: 80%;
        }
        img{
            width: 80%;
            height: auto;
        }
        table{
            width: 85%;
        }
        #return{
            margin: 30px 0 0px 0;
            width: 60%;
            padding: 10px 0px;
            background-color: white;
            font-size: 16px;
            border-radius: 5px;
            border: 1px solid black;
            color:black;
            display: flex;
            justify-content: center;
        }
    }
    //account_commnent

    //サンクスページ

    .thanks{
        background-color: white;
        padding: 60px 0;
        width: 95vw;
        margin-top: 2.5vw;
        margin-bottom: 2.5vw;
        font-size: 18px;
        border-radius: 5px; //2.5vw;
        box-shadow: 0 1.75vw 1.75vw 0 rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        .thanks-container{
            width: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            h3{
                margin-bottom: 40px;
                font-size: 24px;
            }
            .btn-msg{
                font-size: 14px;
                margin-top: 100px;
            }
            p{
                text-align: center;
                margin-bottom: 10px;
            }
            #return{
                width: 250px;
                padding: 10px 0px;
                font-size: 16px;
                border-radius: 5px;
                background-color: rgb(123, 123, 123);
                color:white;
                display: flex;
                justify-content: center;
            }
        }

    }

    //サンクスページ
}

@media screen and (min-width: 600px){
    body{
        .caption-content{
            .display-item-container{
                width: 570px !important;
            }
        }
        .display-container{
            width: 570px;
        }
        .slide1-content{
            width: 600px !important;
        }
        .slide5-content{
            width: 600px !important;
        }
    }
}